.employee-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.table-container {
  overflow-x: auto;
}

.w-100 {
  width: 100%;
  margin-bottom: 16px;
}

table {
  width: 100%;
}


.edit-btn mat-icon {
  color: #1976d2;
}

.delete-btn mat-icon {
  color: #d32f2f;
}
