<div class="sidebar">

  <!-- Logo -->
  <div class="logo-section">
    <h1>HRMS</h1>
  </div>

  <!-- Menu -->
  <div class="menu-container">
    @for (item of menuItems; track item.MenuName) {

      <!-- Normal Menu -->
      @if (item.SubMenus == null) {
        <a
          class="menu-item"
          [routerLink]="item.RouterLink"
          routerLinkActive="active-menu">
          <div class="menu-left">
            <mat-icon>{{ item.MenuIcon }}</mat-icon>
            <span>{{ item.MenuName }}</span>
          </div>
        </a>
      }

      <!-- Expandable Menu -->
      @if (item.SubMenu?.length) {
        <mat-expansion-panel class="menu-panel">
          <mat-expansion-panel-header>
            <div class="menu-left">
              <mat-icon>{{ item.MenuIcon }}</mat-icon>
              <span>{{ item.MenuName }}</span>
            </div>
          </mat-expansion-panel-header>

          
          <div class="submenu">
            @for (child of item.SubMenu; track child.MenuName) {
              <a
                class="submenu-item"
                [routerLink]="child.RouterLink"
                routerLinkActive="active-submenu">
                <mat-icon>{{ child.MenuIcon }}</mat-icon>
                <span>{{ child.MenuName }}</span>
              </a>
            }
          </div>
        </mat-expansion-panel>
      }

    }
  </div>

</div>